name: CI Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup C compiler
        run: sudo apt-get install build-essential -y

      - name: Compile C files
        run: gcc main.c -o output

      - name: Run program
        run: ./output
